.servicios-cards {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.mascoter {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}
.card-service{
    padding: .5rem;
    width: 325px;
    height: 140px;
    border: 1px solid rgb(74, 194, 194);
}
.anchor-tarjet{
    text-decoration: none;
    height: 100%;
    color: #dbdbdb;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 1rem;
}