.navbar {
  display: flex;
  height: 75px;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  border-bottom: 1px solid rgb(74, 194, 194);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.div-logo {
  display: flex;
  align-items: center;
}

.logo {
  max-height: 50px;
  margin-right: 20px;
}

.icon-user {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

@media(max-width: 991px) {
  .navbar {
    height: 100%;
  }

  .navbar-nav {
    --bs-nav-link-padding-y: 0;
    width: 100px;
  }

  .nav-link {
    margin: 5px;
  }

  .btn-login {
    margin-top: 5px;
  }

  .collapse {
    flex-direction: column;
    align-items: flex-end;
  }

  .navbar-toggler {
    background-color: rgb(74, 194, 194);
  }

  .icon-user {
    margin-right: 40px;
    width: 35px;
    height: 35px;
  }
  .login {
    top: 204px;
  }
}