.login {
    width: 150px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    top: 75px;
    right: 0px;
    z-index: 20;
}

.anchor {
    text-decoration: none;
}

.login-text {
    text-decoration: none;
    width: 120px;
    border: 2px solid rgb(74, 194, 194);
    border-radius: 5px;
    background-color: transparent;
    color: rgb(74, 194, 194);
    font-weight: 700;
    align-self: flex-end;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

@media(max-width: 991px) {
    .icon-user {
        margin: 1rem;
    }

    .login {
        position: relative;
        top: 0;
    }
}