.detail{
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail-service{
    width: 70%;
    height: 50vh;
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    border: 1px solid rgb(74, 194, 194);
}
.title-service{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    color: #fff;
}
.title-service img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}
.description-service{
    font-size: 18px;
    color: #fff;
}

@media(max-width: 768px){
    .detail-service{
        margin: 1rem;
        flex-direction: column;
        height: 100%;
    }
    .card-service{
        width: 90%;
        margin: 0 auto;
    }
}